.heading
{
    text-align: center;
    color : maroon;
}
.tables
{
     background-Color: yellow;
     width: auto;
     height : 2000px;

 }
 .table
 {
     color: black;
 }
 .title
 {
     color: black;
 }