.heading
{
    text-align: center;
    color : maroon;
}
.tables
{
     background-Color: yellow;
     width: auto;
     height : 2000px;

 }
 .table
 {
     color: black;
 }
 .title
 {
     color: black;
 }
 .day6
 {
    text-align: center;
 }

 .child_component{
    widows: 5000px;
    height:5000px;
}
